<!-- Footer -->
<footer class="page-footer font-small white fixed-bottom bg-secondary">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <%= link_to "Jafer Daltro", root_path, id:"footer-text" %> 
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->